*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  line-height: 19px;
  font-weight: 400px;
  color: #303030;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #868585;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.header {
  background-image: url(../images/header-bg.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 70px 10px 38px;
  margin-bottom: 150px;
}

.header__subtitle {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-top: auto;
}

.header__title {
  font-weight: 700px;
  font-size: 64px;
  line-height: 87px;
}

.header__title span {
  display: block;
  font-size: 42px;
  line-height: 57px;
}

.header__button {
  margin-top: 50px;
  margin-bottom: auto;
  align-self: center;
}

.button__path {
  transition: fill 0.5s;
}

.button:hover .button__path {
  fill: #a9a32a;
}

.button__text {
  font-size: 18px;
  line-height: 25px;
  display: inline-block;
  transform: translateY(-20px);
  margin-left: -57px;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social__link {
  padding: 0 10px;
}

.service {
  margin-bottom: 150px;
}

.service__inner {
  display: flex;
}

.service__content {
  flex-basis: 510px;
  margin-right: 90px;
}

.service__box {
  margin-bottom: 50px;
}

.service__box-title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  /* color: #303030; */
}

.service__img {
  object-fit: cover;
}

.info {
  margin-bottom: 150px;
}

.info__inner {
  display: flex;
}

.info__box {
  flex-basis: 510px;
  margin-right: 90px;
}

.info__content {
  flex-basis: 600px;
}

.info__content-text {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 17px;
}

.info-tabs {
  margin-bottom: 100px;
}

.info-tabs__items {
  margin-bottom: 120px;
}

.info-tabs__item {
  font-size: 18px;
  line-height: 25px;
  font-weight: 400;
  margin-right: 40px;
}

.info-tabs__item--active {
  /* padding-bottom: 5px; */
  border-bottom: 1px solid #303030;
}

.info-tabs__content {
  display: none;
}

.info-tabs__content--active {
  display: block;
}

.info-slider {
  max-width: 510px;
}

.info-slider__img {
  margin-right: 40px;
  /* margin-bottom: 10px; */
  float: left;
}

.info-slider__text {
  padding-bottom: 15px;
}

.slick-arrow {
  position: absolute;
  left: 275px;
  bottom: -3px;
  z-index: 5;
  cursor: pointer;
}

.slick-next {
  left: 340px;
}

.info__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.info__list-item {
  flex-basis: 235px;
  margin-bottom: 17px;
}

.info__list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 5px;
}

.blockquote {
  margin-bottom: 150px;
  padding: 128px 10px 144px;
  background-image: url(../images/blockquote.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}

.blockquote__text {
  max-width: 670px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 42px;
  line-height: 57px;
  color: #ffffff;
}

.clients{
    margin-bottom: 150px;
}

.clients-slider__box{
    display: flex;
}

.clients-slider__box-img{
    flex-basis: 510px;
    margin-right: 91px;
    margin-bottom: 30px;
}

.clients-slider__box-title{
    max-width: 478px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
    margin-bottom: 30px;
}

.client-slider__box-list{
    margin-bottom: 65px;
    margin-left: 50px;
}

.client-slider__box-item{
    margin-bottom: 15px;
}

.slick-arrow path{
    transition: fill .5s;
}

.slick-arrow:hover path{
    fill: #a9a32a;
}

.step{
    margin-bottom: 150px;
}

.step-inner{
    display: flex;
}

.step__img{
    flex-basis: 600px;
    object-fit: cover;
}

.step__content{
    margin-right: 90px;
}

.step__list{
    list-style: none;
    counter-reset: number;
}

.step__list-item{
    counter-increment: number;
    margin-bottom: 30px;
}

.step__list-item::before{
    content: '0' counter(number);
    color: #868585;
}

.step__list-item:nth-child(n + 10)::before{
    content: counter(number);
}

.step__list-title{
    margin-top: 11px;
    margin-bottom: 2px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 700;
}

.footer{
    background-image: url(../images/footer.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 70px 0 50px;
    color: #FFFFFF;
}

.footer__top{
    display: flex;
    margin-bottom: 150px;
}

.footer__form{
  flex-basis: 510px;
  margin-right: 90px;
}

.footer__title{
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 60px;
  text-transform: uppercase;
}

.footer__input{
  border: none;
  border-bottom: 1px solid #FFFFFF;
  display: block;
  width: 100%;
  background-color: transparent;
  padding-bottom: 11px;
  font-family: 'Noto Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  color: #FFFFFF;
  margin-bottom: 60px;
}

.footer__input::placeholder{
    padding-bottom: 11px;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
}

.footer__contacts-item{
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 25px;
}

.footer__form-btn{
  background-color: transparent;
  border: none;
  padding: 0;
  color: #FFFFFF;
}

.footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__bottom-link{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 15px;
}

.footer .social {
  margin-right: -10px;
  padding-bottom: 15px;
}